[v-cloak] {
    display: none;
}

body {
    background: #F5F5F7;
}

.menu-is-active {
    background: #fafafa;
}

div#app > footer {
    margin-top: 50px;
    height: 3.25rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar, footer {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}